# Project
-e .

# runtime tools
pre-commit~=3.0
tox~=4.4

# static analysis
black~=22.6
flake8~=4.0
flake8-gl-codeclimate~=0.1
mypy~=0.971
types-aioboto3~=9.6
types-psutil~=5.9

# unit testing and coverage
httpx~=0.24
ddt~=1.5
coverage[toml]~=6.4
unittest-xml-reporting~=3.2

